@page "/dashboard"
@page "/"

<!-- Page Heading -->
<div class="border-bottom mb-5">
    <h3 class="fw-bold display-5">Admin Dashboard</h3>
</div>

<!-- Page Content -->
<div class="row">
    <div class="col-12 col-lg-3">
        <div class="row g-3">
            <div class="col-6 col-lg-12">
                <div class="card p-4 rounded-3">
                </div>
            </div>
            <div class="col-6 col-lg-12">
                <div class="card p-4 rounded-3">
                </div>
            </div>
            <div class="col-6 col-lg-12">
                <div class="card p-4 rounded-3">
                </div>
            </div>
            <div class="col-6 col-lg-12">
                <div class="card p-4 rounded-3">
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-9 px-3 mt-5 mt-lg-0">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#</td>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 3</td>
                </tr>
                <tr>
                    <td>#</td>
                    <td>Data 4</td>
                    <td>Data 5</td>
                    <td>Data 6</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

@code {

}
