@page "/forgot-password";

<PageTitle>Forgot Password?</PageTitle>

<div class="container d-flex align-items-center justify-content-center p-5" style="min-height: 100vh;">
    <div class="card w-100 mx-auto border-0">
        <div class="my-3 w-100 text-center mx-auto">
            <h4>Forgot Password?</h4>
        </div>
        <div class="mx-auto">
            <form>
                <input type="text" class="@DisplayEmailCssClass form-control my-3" placeholder="Enter your email here" />
                <input type="text" class="@DisplayOtpCssClass form-control my-3" placeholder="Enter OTP">
                <div class="my-3 text-center">
                    <button type="submit" class="@DisplayOtpCssClass btn btn-primary w-100">Change Password</button>
                </div>
            </form>
            <div class="my-3 text-center">
                <button @onclick="ToggleOTP" class="@DisplayEmailCssClass btn btn-primary w-100">Send OTP</button>
            </div>
                
        </div>           
    </div>
</div>

@code {
    private bool showOtpInput = false;
    
    private string? DisplayOtpCssClass => showOtpInput ? "" : "d-none";
    private string? DisplayEmailCssClass => showOtpInput ? "d-none": "";

    private void ToggleOTP()
    {
        showOtpInput = true;
    }
}