@page "/serviceconfigurations"

string[] configData = {{"1", "Service name", "Average Duration", "Price"}};

<style>
    .page.sign-hide {
        display: none: 
    }
</style>

<PageTitle>Service Configurations</PageTitle>
    <h2 class="display-5">Service Configuration</h2>
<div class="card">
    <table class="table table-striped">
        <thead>
            <tr>
                <th> # </th>
                <th> Service Name</th>
                <th> Average Duration</th>
                <th> Service Price</th>
                <th> Status</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td> 1</td>
                    <td>Service Name </td>
                    <td>Average Duration</td>
                    <td> Service Price</td>
                    <td>
                        <div class="form-check form-switch"> 
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDefault "/>
                        </div>
                    </td>
                </tr>
            </tbody>
    </table>
</div>
