@page "/settings"

<PageTitle>Settings</PageTitle>



<div class="container p-3">
    <h2>Details</h2>
        <div>
            <p class="d-flex justify-content-between"><span>User name</span> <span>laundry</span></p>
        </div> 
        <div>
            <p class="d-flex justify-content-between"><span>Laundry service name</span> <span>Laundry</span> </p>
        </div>
        <div>
            <p class="d-flex justify-content-between"><span>Your Icon</span> <span>http://onedrive.ssder23.3234/23</span></p>
            </div>
        <div>
            <p class="d-flex justify-content-between"><span>Tagline Clean</span> <span>efficiency</span></p>
            </div>
        <div>
            <p class="d-flex justify-content-between"><span>Email</span> <span>ittai@laundry.com</span></p>
        </div>
        <div>
            <p class="d-flex justify-content-between"><span>Phone</span> <span>1234567890</span></p>
        </div>             
</div>
<div class="container p-3">
    <h2>Notifications</h2>
        <div>
            <p class="d-flex justify-content-between"><span>SMS Notification on order</span></p>
        </div>
        <div>
            <p  class="d-flex justify-content-between"><span> </span></p>
        </div>
        <div>
            <p class="d-flex justify-content-between"><span>Email Notification on status change</span></p>
        </div>
        <div><p class="d-flex justify-content-between">Email Notification on delivered</p>
        </div>

</div>