@page "/settings"

<PageTitle>Settings</PageTitle>


<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 p-3 my-3">
            <h2>Details</h2>
            <div>
                <p class="d-flex justify-content-between"><span>User name</span> <span>laundry</span></p>
            </div> 
            <div>
                <p class="d-flex justify-content-between"><span>Laundry service name</span> <span>Laundry</span> </p>
            </div>
            <div>
                <p class="d-flex justify-content-between"><span>Your Icon</span> <span>http://onedrive.ssder23.3234/23</span></p>
                </div>
            <div>
                <p class="d-flex justify-content-between"><span>Tagline Clean</span> <span>efficiency</span></p>
                </div>
            <div>
                <p class="d-flex justify-content-between"><span>Email</span> <span>ittai@laundry.com</span></p>
            </div>
            <div>
                <p class="d-flex justify-content-between"><span>Phone</span> <span>1234567890</span></p>
            </div>             
        </div>
    </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <h2>Notifications</h2>
                <div class="d-flex justify-content-between">
                    <p>SMS Notification on order</p>
                    <span>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedenaabled" checked enabled>
                            <label class="form-check-label form-dark" for="flexSwitchCheckCheckedenabled"></label>
                        </div>
                    </span>
                </div>
                <div class="d-flex justify-content-between">
                    <p>Email Notification on order</p>
                    <span>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedenaabled" checked enabled>
                            <label class="form-check-label" for="flexSwitchCheckCheckedenabled"></label>
                        </div>
                    </span>
                </div>
                <div class="d-flex justify-content-between">
                    <p>Email Notification on status change</p>
                    <span>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedenaabled" checked enabled>
                            <label class="form-check-label" for="flexSwitchCheckCheckedenabled"></label>
                        </div>
                    </span>
                </div>
                <div class="d-flex justify-content-between">
                    <p>Email Notification on delivered</p>
                    <span>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedenaabled" checked enabled>
                            <label class="form-check-label" for="flexSwitchCheckCheckedenabled"></label>
                        </div>
                    </span>
                </div>
                <style>
                    .btn:hover {
                        background-color: rgba(137, 207, 240, 1)
                    }
                    .btn { 
                        background-color: rgba(220, 220, 220, 0.5)
                        
                        
                    }
                </style>        
                    <div class="row">
                        <div class="col-5 p-4 my-3">
                            <div class="d-flex justify-content-between">
                                <div><button type="button" class="btn btn-primary text-black">Cancel</button></div>
                                <div><button type="button" class="btn btn-primary text-black">Save</button></div>
                            </div>
                            
                        </div>
                    </div>
            </div>
        </div>
</div>