@page "/login"
@page "/logout"
@page "/"
@inject NavigationManager NavManager

<!--styles only applicable to this page-->
<style>
    .form-control {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgba(100,100,100, 0.3);
        border-radius: 2px;
    }

    .nav-hide {
        display: none !important;
    }
</style>

<!--Page content-->
<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="w-100">
        <div class="card border-0 p-3 mx-auto">
            <div class="row">
                <!-- Image visible on large screen and above-->
                <div class="col-lg-6 col-12 my-2 d-none d-lg-flex align-items-center justify-content-center">
                    <img src="img/laundry_img.png" class="img-fluid mx-auto rounded-3" width="500" style="height: auto;">
                </div>
                <!-- form container visible on large screen and above-->
                <div class="col-lg-6 col-12 my-2 d-flex justify-content-center align-items-center">
                    <div class="w-100 px-md-5">
                        <div class="row">
                            <div class="col-12 my-3 mx-auto">
                                <h3 class="fw-bold">Welcome back.</h3>
                                <small class="mb-2 my-0 fw-bold">Let's get you signed in.</small>
                            </div>
                        </div>
                        <!--form-->
                        <div class="row">
                            <div class="col-12 mx-auto">
                                <EditForm OnSubmit="AttemptSignIn" Model="business" class="needs-validation" novalidate>
                                    <!--Email Field-->
                                    <div class="form-group my-4">
                                        <InputText @bind-Value="@business.Email" type="email" class="form-control" id="email" DisplayName="email" placeholder="Email*" required />
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter a valide email.
                                        </div>
                                    </div>
                                    <!--Email Field-->
                                    <div class="form-group my-4">
                                        <InputText @bind-Value="@business.Password" type="password" DisplayName="password" class="form-control" id="password" placeholder="Password*" required />
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter a valide password!
                                        </div>
                                        <div class="text-start my-1">
                                            <small>Forgotten password? <a href="/forgot-password" class="text-decoration-none fw-bold">Reset.</a></small>
                                        </div>
                                    </div>
                                    <!--Submit Button-->
                                    <button class="btn btn-primary mt-5 w-100 rounded-5 fw-bold" type="submit"><span class="oi oi-account-login me-2" aria-hidden="true" ></span>Login</button>
                                    <div class="mb-2 my-1 w-100 text-center">
                                        <small>Don't have an account yet? <a href="/register" class="text-decoration-none fw-bold">Sign up.</a></small>
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="@loading">

</div>

@code {
    BusinessLogInRequest business = new();
    string loading = "d-none";

    void AttemptSignIn()
    {
        loading = "d-block";

        HttpClient client = new HttpClient();

        var response = await client.PostAsJsonAsync<BusinessLogInRequest>("https://gdd3rp3j-7114.euw.devtunnels.ms/api/Auth/login", business);

        if(response.IsSuccessStatusCode)
        {
            NavManager.NavigateTo("/dashboard");
        }
    }
}
