@inherits LayoutComponentBase

<div class="page">
    @*<AuthorizeView>
        <Authorized>*@
            <div class="sidebar nav-hide" style="background-color: #fff">
                <NavMenu />
            </div>
        @*</Authorized>
    </AuthorizeView>*@

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
