<style>
    .nav-link {
        border: 1px solid transparent;
    }

        .nav-link:hover {
            border: 1px solid rgba(97,144,232, 1.0);
            background-color: rgba(97,144,232, 1.0) !important;
        }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<div class="top-row ps-3 bg-light navbar" style="border-right: solid 1px rgba(100, 100, 100 , 0.2);">
    <div class="container-fluid">
        <a class="navbar-brand text-lg text-dark fw-bold" style="font-size: 30px;" href="">Laundry</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass bg-light nav-scrollable" style="border-right: solid 1px rgba(100, 100, 100, 0.2);" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <!-- Dashboard -->
        <div class="nav-item px-3">
            <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                <span class="bi bi-columns-gap me-2" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <!--Services-->
        <div class="nav-item px-3">
            <NavLink class="nav-link text-dark" href="counter">
                <i class="bi bi-person-gear me-2" aria-hidden="true"></i> Services
            </NavLink>
        </div>
        <!--Settings-->
        <div class="nav-item px-3">
            <NavLink class="nav-link text-dark" href="/settings">
                <i class="bi bi-gear me-2 fw-bold" style="font-weight: bold;" aria-hidden="true"></i> Settings
            </NavLink>
        </div>
        <!--Statistics-->
        <div class="nav-item px-3">
            <NavLink class="nav-link text-dark" href="/statistics">
                <i class="bi bi-bar-chart-line me-2" aria-hidden="true"></i> Statistics
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-dark" href="/settings">
                <span class="oi oi-people" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-dark" href="fetchdata">
                <i class="bi bi-layers me-2" aria-hidden="true"></i> Orders
            </NavLink>
        </div>
        <!-- Logout -->
        <div class="nav-item m-4">
            <a href="/logout" class="text-dark text-decoration-none"><span aria-hidden="true" class="oi oi-account-logout me-2"></span>Logout</a>
        </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}


